.register-container {
  display: flex;
  height: 100vh;
  background-color: #eaf0f6;
}

.register-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;   
}

.register-left img {
  max-width: 100%;
  height: auto;
}

.speech-bubble {
  position: absolute;
  top: 60px;
  right: 180px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 250px;
  text-align: center; 
  font-size: 18px; 
  font-weight: 500;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 350;
  font-size: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #698474;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #758694;
  color: white;
  
}

.error-text {
  color: red;
  font-size: 12px;
}
